/* google picker for selecting color */
/*  *==asterisks    */
/*   &=amper sant   */
/* h1{
    color: red;
}
p{
    color: rgb(33, 117, 33);
}
button{
    color:rgb(45, 130, 17);
    background-color: rgb(71, 54, 163);
}
body{
    /* background-color: rgb(191,34,115); */

    /* HEX(HEXADECIMAL) FORMAT
    color:#ff0000 it indicates red color
    color:#00ff00 it indicates green color */
    /* background-color: #ffff00; */
/* }  */


/* UNIVERSAL SELECTOR */
/* *{
    color: brown;
} */

/* #heading1{ */
    /* color: green; */
/* }


#heading2{
    color: red;
}
#heading3{
    color: deeppink;
}

.myclass{
    color: coral;
}
.black{
    background-color: black;
} */

/* p{
    text-align:center;
} */
/* h1{
    text-align:center;
    /* it can add color to the underline */
    /* text-decoration: red wavy underline ;
    text-decoration: dotted underline; */
    /* text-decoration: line-through; */
/* }  */
a{
    /* none means it can remove the underline */
    text-decoration: none   ;
}

/* #h1{
    font-weight: normal ;
}
#h2{
    font-weight: bold;
}
#h3{
    font-weight: lighter ;
}
#h4{
    font-weight: light;
}
#h1{
    font-weight: 100 ;
}
#h2{
    font-weight: 200;
}
#h3{
    font-weight: 400 ;
}
#h4{
    font-weight: 900;
} */

/* 
h1{
    font-style: italic;
}
#one{
    font-family:Arial, Helvetica, sans-serif;
}
#two{
    font-family: 'Segoe UI''Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

#one{
  font-size: 25px;
  line-height: 25px;
  text-transform:capitalize;
}
#two{
  font-size: 10px;
}
#three{
  font-size: 5px;
}
