h1{
    text-align: center;
    text-transform:capitalize;
}
    p{
        font-family:none;
        text-align: center;
    }
    *{
        font-family: 'Times New Roman';
    }
    #outer{
        font-size: 25px; text-align: center;
    }
    #inner{
        font-size: 10px ; text-align: center;
    }       